#FONDO{
    background-image: url("../assets/YAYAAN.png");

}
#FONDO2{
    background-image: url("../assets/LOGIN.png");
}
#FONDO3{
    background-image: url("../assets/FORGOT.png");
}
#FONDO4{
    background-image: url("../assets/BIENVENIDO.png");
}